sentence-transformers>=5.1.0
torch>=2.2.2
marimo>=0.15.3
jupyterlab >= 4.0
tiktoken >= 0.5.1
matplotlib >= 3.7.1
tensorflow >= 2.18.0
tqdm >= 4.66.1
numpy >= 1.26, < 2.1
pandas >= 2.2.1
psutil >= 5.9.5